body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.addition {
    display: flex;
    flex-direction: column;
    align-items: center;
}
li {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.home {
  display: flex;
  flex-direction: column;
}
.gallery_img {
  width: 150px;
  height: 150px;
  padding: 5px;
}
.textarea {
  font-size: 18px;
  margin-bottom:20px
}
h1 {
  font-size: 20px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button_control {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.horses {
  margin-top: 10px;
  height: 200px;
}
.addHorse {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.submit_horses {
  width: 800px;
  font-size:larger;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button_submit {
  display: flex;
  width: 705px;
  justify-content: flex-end;
}
.submit {
  margin-top: 10px;
}
.title {
  margin-bottom: 20px;
}
 .active {
  text-decoration: none;
  color: rgb(219, 155, 17);
  cursor: default;
} 
a:link {
  text-decoration: none;
   color: black;
}
a:visited {
  text-decoration: none;
  color: black;
  cursor: grab;
} 
 a:hover {
  text-decoration: none;
  color: black;
  cursor: grab;
}  

